<h1>Cursusadministatie</h1>

<p>
  <a id="newCursusBtn" [routerLink]="['/add']" class="btn btn-primary float-right mb-3">Nieuwe cursus</a>
</p>

<h2>Weekoverzicht week {{currentWeekNumber}} - {{currentYear}}</h2>
<div>
  <div>
    <label for="weekNummerInput">Week</label>
    <input class="form-control mb-3" type="number" id="weekNummerInput" placeholder="Vul weeknummer in" (change)="onChangeWeekNummer($event.target.value)">
  </div>
  <div>
    <label for="yearInput">Jaar</label>
    <input class="form-control  mb-3" type="number" id="yearInput" placeholder="Vul jaartal in" (change)="onChangeYear($event.target.value)">
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <a id="previousWeekBtn" class="btn btn-primary mb-3" (click)='previousWeek()'>Vorige week</a>
    </div>
    <div>
      <a id="updateWeekNumberBtn" class="btn btn-primary  mb-3" (click)='updateWeekNumber()' >Zoek week en jaar</a>
    </div>
    <div>
      <a id="nextWeekBtn" class="btn btn-primary mb-3" (click)='nextWeek()'>Volgende week</a>
    </div>
  </div>
  <div class="error">
    <p>{{errorMessage}}</p>
  </div>
</div>

<table class="table table-sm table-hover  mb-3" *ngIf="(cursussen)?.length>0">
  <thead>
    <tr>
      <th>Start datum</th>
      <th>Titel</th>
      <th>Duur</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cursus of (cursussen)">
      <td>{{ cursus.startDatum | date:'dd/MM/yyyy' }}</td>
      <td>{{ cursus.cursus.titel }}</td>
      <td>{{ cursus.cursus.duur }}</td>
    </tr>
  </tbody>
</table>